body{ /* Tělo (Pouze pro font) */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    background-color: black;
    width:100%;
    height:20%; 
    position:absolute;
    left:0;
    margin-top: 5%;
}

.welcome{
    margin: auto;
    width: 1000px;
    height: 500px;
    border: 3px solid black;
    background-color: rgb(190, 190, 190);
    /*background: url("rachel-park-hrlvr2ZlUNk-unsplash.jpg");
    background-size: 100% 600px;                                        Pro pozdější využití 
    background-size: contain; */
    text-align: center;
    align-items: center;
}

.welcome-p{
    margin: auto;
    text-align: center;
    width: 500px;
    margin-top: 7%;
}

.list{
    margin: auto;
    width: 600px;
    height: 350px;
    background-color: white;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 7%;
}

.header{ /* Horní část stránky, jiný název mě nenapadl :D */
    display: inline;
}

.h-btn{ /* Tlačítka 1 */
    display: inline;
    float: right;
    border: none;
    background: none;
    padding: 10px;

}

.h-btn:hover{ /* Hover efekt tlačítek 1 */
    cursor: pointer;
    color: gray;
}

h1{ /* Nadpis "Smartcook" */
    display: inline; 
}

h2{ /* Nadpis jednotlivých receptů */
    text-align: center;
}

h3{
    color: white;
    margin-left: 20%;
}

h1:hover{ /* Hover efekt nadpisu "Smartcook" */
    cursor: pointer;
}

.m-btn{ /* Tlačítka 2 */
    background: none;
    border: 2px solid black;
    width: 88px;
    height: 40px;
    display: inline;
    margin: 5px;
}

.w-btn{
    background: none;
    border: 2px solid black;
    width: 88px;
    height: 40px;
    margin: 5px;
    margin-top: 3%;
}

.m-btn:hover{ /* Hover efekt tlačítek 2 */
    cursor: pointer;
    color: rgb(190, 190, 190);
}

.w-btn:hover{
    cursor: pointer;
    color: rgb(190, 190, 190);
}
  

.labels1{ /* Boxy pro filtrování */
    display: none;
}

.labels2{ /* Boxy pro filtrování */
    display: none;
}

.labels3{ /* Boxy pro filtrování */
    display: none;
}

.labels4{ /* Boxy pro filtrování */
    display: none;
}

.labels5{ /* Boxy pro filtrování */
    display: none;
}

.cards{ /* Vzhled karet s recepty */
    width: 400px;
    height: 250px;
    border: 3px solid black;
}

.cards:hover{ /* Hover efekt karet s recepty */
    box-shadow: 2px 2px 7px 0px gray;
    cursor: pointer;
}

.container{ /* Website jawline */
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 430px);
    gap: 50px;
}

.inner-container{
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    gap: 10px;
}

@media screen and (max-width: 1405px) { /* RESPONZIVITA */
    .container{
    grid-template-columns: repeat(2, 430px);
    gap: 50px;
    }
}

@media screen and (max-width: 1028px) { /* RESPONZIVITA */
    .welcome{
        width: 700px;
    }
    .list{
        width: 550px;
        margin-top: 11%;
    }
    .welcome-p{
        width: 530px;
    }
}

@media screen and (max-width: 902px) { /* RESPONZIVITA */
    .container{
    grid-template-columns: repeat(1, 430px);
    gap: 50px;
    }
    .welcome{
        width: 500px;
    }
    .list{
        width: 400px;
        margin-top: 13%;
    }
    .welcome-p{
        width: 380px;
    }
}


.idk{ /* Tlačítka 2 */
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    display: flex;
    margin-top: 1%;
}


.checkboxes{ /* Pozadí boxů */
    background-color: rgb(241, 241, 241);
}

.text{ /* Parametry receptů */
    margin: auto;
    text-align: left;
}

.image{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.p-footer{
    color: white;
    margin-left: 20%;
}

.about{
    margin-top: 2%;
    width: 500px;
    text-align: center;
    margin: auto;
}

.line1{
    width: 1000px;
}
