body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.header{
    display: inline;
}

.h-btn{
    display: inline;
    float: right;
    border: none;
    background: none;
    padding: 10px;

}

.h-btn:hover{
    cursor: pointer;
    color: aqua;
}

h1{
    display: inline; 
}

h1:hover{
    cursor: pointer;
}

.m-btn{
    background: none;
    border: 2px solid aqua;
    width: 88px;
    height: 40px;
    display: inline-block;
    margin: 5px;
}

.m-btn:hover{
    cursor: pointer;

}

.labels1{
    display: none;
}

.labels2{
    display: none;
}

.labels3{
    display: none;
}

.labels4{
    display: none;
}

.labels5{
    display: none;
}

.cards{
    width: 400px;
    height: 250px;
    border: 3px solid black;
}

.cards:hover{
    box-shadow: 2px 2px 7px 0px gray;
    cursor: pointer;
}

.container{
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 430px);
    gap: 50px;
}

@media screen and (max-width: 1405px) {
    .container{
    grid-template-columns: repeat(2, 430px);
    gap: 50px;
    }
}

@media screen and (max-width: 902px) {
    .container{
    grid-template-columns: repeat(1, 430px);
    gap: 50px;
    }
}


h2{
    text-align: center;
}

.idk{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
}


.checkboxes{
    background-color: rgb(241, 241, 241);

}

.marquee{
    border:2px solid black;
}
